.services__tile {
	display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
	height: 80vh;
	width: 100%;
	position: relative;
	user-select: none;
}
.services__tile:nth-child(odd) {
	background-color: rgb(15, 15, 15);
}

.content__tile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
	width: 100%;
}

.services__tile:nth-child(odd) .content__tile {
  flex-direction: row-reverse;
}

.tile__img__text {
	display: flex;
	align-items: center;
	justify-content: center;
  text-align: justify;
  font-size: clamp(0.75rem, 0.6rem + 0.802vw, 1.563rem);
	max-width: 0;
	height: 250px;
	overflow: hidden;
  transition: max-width 0.6s ease-out;
	margin: 0;
	padding: 0;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}
.services__tile:hover .tile__img__text{
	border-right: 2px solid #fff;
	border-left: 2px solid #fff;
	padding: 0px 30px;
	max-width: 70%;
	height: 250px;
}
.tile__img:hover{
	transform: scale(1.2);
	transition: all 0.3s ease-in-out;
}


.tile__img__text__container{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 120vh;
}



.tile__img{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 60vh;
	transition: all 0.3s ease-in-out;
}

.tile__img__img {
	width: 60%;
	filter:brightness(45%);
}
.detail {
	position: absolute;
	top: 85%;
	font-size: clamp(0.75rem, 0.6rem + 0.802vw, 1.563rem);
	color: rgb(255, 255, 255);
}

.tile__text{
	margin: 0;
}
.tile__text h2{
	margin: 0;
	font-size: clamp(1.188rem, 0.968rem + 1.173vw, 2.375rem);
	font-weight: lighter;
}